<div class="ui-home-banner">
  <h1 class="ui-home-banner-title text-center">Pocket Outreach</h1>
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="ui-home-banner-text col-xs-6">
      A web application to assist those in need. Below are some tools that can help you get started.
    </div>
    <div class="col-xs-3"></div>
  </div>
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="ui-home-banner-text col-xs-6">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
      kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
      ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
      tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
      At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
      gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
      dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
      eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
      sea takimata sanctus est Lorem ipsum dolor sit amet.
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>
<div class="row">
  {{thumbnail-service-type
    iconName="utensils-icon"
    title="Find Free Meals"
    buttonText="Click Me"
    myAction=(action 'getHotMealLocations')}}
</div>
