<div class="text-center">
  <div class="ui-{{iconName}}"></div>
  <div class="">
    <h3 class="js-thumbnail-service-type-title">{{title}}</h3>
    <a href="#" class="btn btn-primary js-thumbnail-service-type-btn" role="button" onClick={{action myAction}}>
      {{buttonText}}
    </a>
  </div>
</div>
