.ui-thumbnail-service-type {
  margin: 40px auto;
}

.ui-utensils-icon {
  background-image: $img-utensils-img-url;
  height: $img-utensils-img-height;
  width: $img-utensils-img-width;
  // center the image
  margin: 0 auto;
}
